@model Card
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/style.css">
    <title>LearnSpace | Flashcards</title>
</head>
<body>
        <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Le<i class="fab fa-atlassian fa-xs"></i>rn Sp<i class="fab fa-atlassian fa-xs"></i>ce <i class="fas fa-brain"></i></h1>
            <nav>
                <ul>
                    <li><a href="/accomplishments">Accomplishments</a></li>
                    <li><a href="/LearnDashboard">Dashboard</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav> 
        </div>
    </div>

@* This section will show the card *@
 
<div class="container">
    <section id="headerInfo">
        <h1 id="topicHeading"> Flashcards</h1>
        <h2>Add Your Flashcards Here <i class="fas fa-clone"></i></i></h2>
    </section>
    <form asp-action="AddCard" asp-controller="home" method="post" class="showcase-form card">

        <div class="form-control">
            <span asp-validation-for="CardQuestion"></span>
                <label asp-for="CardQuestion">Front of Card</label>
                <input asp-for="CardQuestion" type="text">
        </div>

        <div class="form-control">
            <span asp-validation-for="CardAnswer"></span>
                <label asp-for="CardAnswer">Back(Answer) of Card</label>
                <textarea asp-for="CardAnswer" name="CardAnswer" cols="30" rows="10"></textarea>
        </div>
            <input type="submit" value="Add Flashcard" class="btn btn-dark">
    </form>           
</div>
        
</body>
</html>