@model Container
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/style.css">
    <title>LearnSpace | Dashboard</title>
</head>
<body>

    <h1> @TempData["WelcomeMsg"]</h1>
    <h2>Enter The Topic You Are Learning</h2>
    <form asp-action="NewTopic" asp-controller="home" method="post">
    <div>
        <span asp-validation-for="Topic.TopicName"></span>
        <div>
            <label asp-for="Topic.TopicName">Topic Name </label>
            <input asp-for="Topic.TopicName" type="text">
        </div>
    </div>
    <div>
        <div>
        <span asp-validation-for="Topic.TopicDifficulty"></span>
        <label asp-for="Topic.TopicDifficulty">Topic Difficulty </label>
        <select asp-for="Topic.TopicDifficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
    </div>
    </div>
    <div>
        <span asp-validation-for="Topic.TopicFeedback"></span>
        <div>
            <label asp-for="Topic.TopicFeedback">Thoughts on This Topic</label>
            <textarea asp-for="Topic.TopicFeedback" name="TopicFeedback" cols="30" rows="10"></textarea>
        </div>
    </div>
        <button type="submit">Add To Your Topics!</button>
</form> 
@* This section will show the topics *@
@* <div>
    <h1>Topics you are currently learing</h1>
    <table>
            <tr>
                <th>Name</th>
            </tr>
            @foreach (var topic in Model)
            { 
                <tr> 
                    <td><a href="viewTopic/@item.TopicId">@item.TopicName</a></td>
                </tr>
            }
    </table>


</div> *@

             @foreach (Topic topic in Model.AllTopics)
            {
                <li><a href="#">@topic.TopicName</a></li>
            }

</body>
</html>